In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import linear_model
import numpy as np

In [2]:
def loadCsv(fileName=None):
	if fileName == None:
		print('Error: file is not exist!')
	else:
		dataTrain = pd.read_csv(fileName)
		return dataTrain

In [3]:
dataTrain = loadCsv('train.csv')	
dataTest = loadCsv('test.csv')

dataTrain['Age'] = dataTrain['Age'].fillna(dataTrain['Age'].median()) # 插入平均值

dataTrain.loc[dataTrain['Sex'] == 'male', 'Sex'] = 0
dataTrain.loc[dataTrain['Sex'] == 'female', 'Sex'] = 1

dataTrain.loc[dataTrain['Embarked'] == 'S', 'Embarked'] = 0
dataTrain.loc[dataTrain['Embarked'] == 'Q', 'Embarked'] = 1
dataTrain.loc[dataTrain['Embarked'] == 'C', 'Embarked'] = 2

In [4]:
dataTrain

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0
5,6,0,3,"Moran, Mr. James",0,28.0,0,0,330877,8.4583,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,0
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,0
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,0
12,13,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,0
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,0
16,17,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,1
17,18,1,2,"Williams, Mr. Charles Eugene",0,28.0,0,0,244373,13.0000,NaN,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,0
19,20,1,3,"Masselmani, Mrs. Fatima",1,28.0,0,0,2649,7.2250,NaN,2
20,21,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,NaN,0
21,22,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,NaN,1
23,24,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,0
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,NaN,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,NaN,0
26,27,0,3,"Emir, Mr. Farred Chehab",0,28.0,0,0,2631,7.2250,NaN,2
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,28.0,0,0,330959,7.8792,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",0,28.0,0,0,349216,7.8958,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,NaN,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,28.0,8,2,CA. 2343,69.5500,NaN,0
864,865,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,NaN,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,NaN,0
866,867,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,NaN,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,0
868,869,0,3,"van Melkebeke, Mr. Philemon",0,28.0,0,0,345777,9.5000,NaN,0
869,870,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,NaN,0
870,871,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,NaN,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,0
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,NaN,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,NaN,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,NaN,2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,NaN,0
877,878,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,NaN,0
878,879,0,3,"Laleff, Mr. Kristo",0,28.0,0,0,349217,7.8958,NaN,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,NaN,0
881,882,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,NaN,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,NaN,0
883,884,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,0
884,885,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,NaN,1
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,28.0,1,2,W./C. 6607,23.4500,NaN,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,2
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,1

In [5]:
	dataTrain['Fare'] = (dataTrain['Fare'] - dataTrain['Fare'].min()) / (dataTrain['Fare'].max() - dataTrain['Fare'].min())

In [6]:
dataTrain

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,0.014151,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,0.139136,C85,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,0.015469,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,0.103644,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,0.015713,NaN,0
5,6,0,3,"Moran, Mr. James",0,28.0,0,0,330877,0.016510,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,0.101229,E46,0
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,0.041136,NaN,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,0.021731,NaN,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,0.058694,NaN,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,0.032596,G6,0
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,0.051822,C103,0
12,13,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,0.015713,NaN,0
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,0.061045,NaN,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,0.015330,NaN,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,0.031230,NaN,0
16,17,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,0.056848,NaN,1
17,18,1,2,"Williams, Mr. Charles Eugene",0,28.0,0,0,244373,0.025374,NaN,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,0.035134,NaN,0
19,20,1,3,"Masselmani, Mrs. Fatima",1,28.0,0,0,2649,0.014102,NaN,2
20,21,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,0.050749,NaN,0
21,22,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,0.025374,D56,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,0.015672,NaN,1
23,24,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,0.069291,A6,0
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,0.041136,NaN,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,0.061264,NaN,0
26,27,0,3,"Emir, Mr. Farred Chehab",0,28.0,0,0,2631,0.014102,NaN,2
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,0.513342,C23 C25 C27,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,28.0,0,0,330959,0.015379,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",0,28.0,0,0,349216,0.015412,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,0.022447,NaN,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,0.050610,D17,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,28.0,8,2,CA. 2343,0.135753,NaN,0
864,865,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,0.025374,NaN,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,0.025374,NaN,0
866,867,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,0.027050,NaN,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,0.098561,A24,0
868,869,0,3,"van Melkebeke, Mr. Philemon",0,28.0,0,0,345777,0.018543,NaN,0
869,870,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,0.021731,NaN,0
870,871,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,0.015412,NaN,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,0.102579,D35,0
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,0.009759,B51 B53 B55,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,0.017567,NaN,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,0.046845,NaN,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,0.014102,NaN,2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,0.019218,NaN,0
877,878,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,0.015412,NaN,0
878,879,0,3,"Laleff, Mr. Kristo",0,28.0,0,0,349217,0.015412,NaN,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,0.162314,C50,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,0.050749,NaN,0
881,882,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,0.015412,NaN,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,0.020527,NaN,0
883,884,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,0.020495,NaN,0
884,885,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,0.013761,NaN,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,0.056848,NaN,1
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,0.025374,NaN,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,0.058556,B42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,28.0,1,2,W./C. 6607,0.045771,NaN,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,0.058556,C148,2
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,0.015127,NaN,1

In [7]:
dataTrain = loadCsv('train.csv')	
	dataTest = loadCsv('test.csv')

	dataTrain['Age'] = dataTrain['Age'].fillna(dataTrain['Age'].median()) # 插入平均值
	dataTrain['Age'] = (dataTrain['Age'] - dataTrain['Age'].min()) / (dataTrain['Age'].max() - dataTrain['Age'].min())

	dataTrain.loc[dataTrain['Sex'] == 'male', 'Sex'] = 0
	dataTrain.loc[dataTrain['Sex'] == 'female', 'Sex'] = 1

	dataTrain.loc[dataTrain['Embarked'] == 'S', 'Embarked'] = 0
	dataTrain.loc[dataTrain['Embarked'] == 'Q', 'Embarked'] = 1
	dataTrain.loc[dataTrain['Embarked'] == 'C', 'Embarked'] = 2

	dataTrain['Fare'] = (dataTrain['Fare'] - dataTrain['Fare'].min()) / (dataTrain['Fare'].max() - dataTrain['Fare'].min())

	predictors = ['Pclass', 'Sex', 'Fare', 'Embarked', 'Age']

IndentationError: unexpected indent (<ipython-input-7-0c1a79a6b0c0>, line 2)

In [8]:
dataTrain = loadCsv('train.csv')	
dataTest = loadCsv('test.csv')

dataTrain['Age'] = dataTrain['Age'].fillna(dataTrain['Age'].median()) # 插入平均值
dataTrain['Age'] = (dataTrain['Age'] - dataTrain['Age'].min()) / (dataTrain['Age'].max() - dataTrain['Age'].min())

dataTrain.loc[dataTrain['Sex'] == 'male', 'Sex'] = 0
dataTrain.loc[dataTrain['Sex'] == 'female', 'Sex'] = 1

dataTrain.loc[dataTrain['Embarked'] == 'S', 'Embarked'] = 0
dataTrain.loc[dataTrain['Embarked'] == 'Q', 'Embarked'] = 1
dataTrain.loc[dataTrain['Embarked'] == 'C', 'Embarked'] = 2

dataTrain['Fare'] = (dataTrain['Fare'] - dataTrain['Fare'].min()) / (dataTrain['Fare'].max() - dataTrain['Fare'].min())

predictors = ['Pclass', 'Sex', 'Fare', 'Embarked', 'Age']

In [9]:
dataTrain

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,0.271174,1,0,A/5 21171,0.014151,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0.472229,1,0,PC 17599,0.139136,C85,2
2,3,1,3,"Heikkinen, Miss. Laina",1,0.321438,0,0,STON/O2. 3101282,0.015469,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0.434531,1,0,113803,0.103644,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,0.434531,0,0,373450,0.015713,NaN,0
5,6,0,3,"Moran, Mr. James",0,0.346569,0,0,330877,0.016510,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",0,0.673285,0,0,17463,0.101229,E46,0
7,8,0,3,"Palsson, Master. Gosta Leonard",0,0.019854,3,1,349909,0.041136,NaN,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,0.334004,0,2,347742,0.021731,NaN,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,0.170646,1,0,237736,0.058694,NaN,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,0.044986,1,1,PP 9549,0.032596,G6,0
11,12,1,1,"Bonnell, Miss. Elizabeth",1,0.723549,0,0,113783,0.051822,C103,0
12,13,0,3,"Saundercock, Mr. William Henry",0,0.246042,0,0,A/5. 2151,0.015713,NaN,0
13,14,0,3,"Andersson, Mr. Anders Johan",0,0.484795,1,5,347082,0.061045,NaN,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,0.170646,0,0,350406,0.015330,NaN,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,0.685851,0,0,248706,0.031230,NaN,0
16,17,0,3,"Rice, Master. Eugene",0,0.019854,4,1,382652,0.056848,NaN,1
17,18,1,2,"Williams, Mr. Charles Eugene",0,0.346569,0,0,244373,0.025374,NaN,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,0.384267,1,0,345763,0.035134,NaN,0
19,20,1,3,"Masselmani, Mrs. Fatima",1,0.346569,0,0,2649,0.014102,NaN,2
20,21,0,2,"Fynney, Mr. Joseph J",0,0.434531,0,0,239865,0.050749,NaN,0
21,22,1,2,"Beesley, Mr. Lawrence",0,0.421965,0,0,248698,0.025374,D56,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,0.183212,0,0,330923,0.015672,NaN,1
23,24,1,1,"Sloper, Mr. William Thompson",0,0.346569,0,0,113788,0.069291,A6,0
24,25,0,3,"Palsson, Miss. Torborg Danira",1,0.095250,3,1,349909,0.041136,NaN,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,0.472229,1,5,347077,0.061264,NaN,0
26,27,0,3,"Emir, Mr. Farred Chehab",0,0.346569,0,0,2631,0.014102,NaN,2
27,28,0,1,"Fortune, Mr. Charles Alexander",0,0.233476,3,2,19950,0.513342,C23 C25 C27,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,0.346569,0,0,330959,0.015379,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",0,0.346569,0,0,349216,0.015412,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",0,0.258608,1,0,28134,0.022447,NaN,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,0.597889,0,0,17466,0.050610,D17,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,0.346569,8,2,CA. 2343,0.135753,NaN,0
864,865,0,2,"Gill, Mr. John William",0,0.296306,0,0,233866,0.025374,NaN,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",1,0.522493,0,0,236852,0.025374,NaN,0
866,867,1,2,"Duran y More, Miss. Asuncion",1,0.334004,1,0,SC/PARIS 2149,0.027050,NaN,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,0.384267,0,0,PC 17590,0.098561,A24,0
868,869,0,3,"van Melkebeke, Mr. Philemon",0,0.346569,0,0,345777,0.018543,NaN,0
869,870,1,3,"Johnson, Master. Harold Theodor",0,0.044986,1,1,347742,0.021731,NaN,0
870,871,0,3,"Balkic, Mr. Cerin",0,0.321438,0,0,349248,0.015412,NaN,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,0.585323,1,1,11751,0.102579,D35,0
872,873,0,1,"Carlsson, Mr. Frans Olof",0,0.409399,0,0,695,0.009759,B51 B53 B55,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",0,0.585323,0,0,345765,0.017567,NaN,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,0.346569,1,0,P/PP 3381,0.046845,NaN,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,0.183212,0,0,2667,0.014102,NaN,2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",0,0.246042,0,0,7534,0.019218,NaN,0
877,878,0,3,"Petroff, Mr. Nedelio",0,0.233476,0,0,349212,0.015412,NaN,0
878,879,0,3,"Laleff, Mr. Kristo",0,0.346569,0,0,349217,0.015412,NaN,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,0.698417,0,1,11767,0.162314,C50,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,0.308872,0,1,230433,0.050749,NaN,0
881,882,0,3,"Markun, Mr. Johann",0,0.409399,0,0,349257,0.015412,NaN,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",1,0.271174,0,0,7552,0.020527,NaN,0
883,884,0,2,"Banfield, Mr. Frederick James",0,0.346569,0,0,C.A./SOTON 34068,0.020495,NaN,0
884,885,0,3,"Sutehall, Mr. Henry Jr",0,0.308872,0,0,SOTON/OQ 392076,0.013761,NaN,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",1,0.484795,0,5,382652,0.056848,NaN,1
886,887,0,2,"Montvila, Rev. Juozas",0,0.334004,0,0,211536,0.025374,NaN,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,0.233476,0,0,112053,0.058556,B42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,0.346569,1,2,W./C. 6607,0.045771,NaN,0
889,890,1,1,"Behr, Mr. Karl Howell",0,0.321438,0,0,111369,0.058556,C148,2
890,891,0,3,"Dooley, Mr. Patrick",0,0.396833,0,0,370376,0.015127,NaN,1

In [10]:
from sklearn.svm import SVC

In [11]:
partDatatrain = dataTrain[predictors]

In [12]:
partDatatrain

     Pclass  Sex      Fare Embarked       Age
0         3    0  0.014151        0  0.271174
1         1    1  0.139136        2  0.472229
2         3    1  0.015469        0  0.321438
3         1    1  0.103644        0  0.434531
4         3    0  0.015713        0  0.434531
5         3    0  0.016510        1  0.346569
6         1    0  0.101229        0  0.673285
7         3    0  0.041136        0  0.019854
8         3    1  0.021731        0  0.334004
9         2    1  0.058694        2  0.170646
10        3    1  0.032596        0  0.044986
11        1    1  0.051822        0  0.723549
12        3    0  0.015713        0  0.246042
13        3    0  0.061045        0  0.484795
14        3    1  0.015330        0  0.170646
15        2    1  0.031230        0  0.685851
16        3    0  0.056848        1  0.019854
17        2    0  0.025374        0  0.346569
18        3    1  0.035134        0  0.384267
19        3    1  0.014102        2  0.346569
20        2    0  0.050749        0  0.434531
21        2    0  0.025374        0  0.421965
22        3    1  0.015672        1  0.183212
23        1    0  0.069291        0  0.346569
24        3    1  0.041136        0  0.095250
25        3    1  0.061264        0  0.472229
26        3    0  0.014102        2  0.346569
27        1    0  0.513342        0  0.233476
28        3    1  0.015379        1  0.346569
29        3    0  0.015412        0  0.346569
..      ...  ...       ...      ...       ...
861       2    0  0.022447        0  0.258608
862       1    1  0.050610        0  0.597889
863       3    1  0.135753        0  0.346569
864       2    0  0.025374        0  0.296306
865       2    1  0.025374        0  0.522493
866       2    1  0.027050        2  0.334004
867       1    0  0.098561        0  0.384267
868       3    0  0.018543        0  0.346569
869       3    0  0.021731        0  0.044986
870       3    0  0.015412        0  0.321438
871       1    1  0.102579        0  0.585323
872       1    0  0.009759        0  0.409399
873       3    0  0.017567        0  0.585323
874       2    1  0.046845        2  0.346569
875       3    1  0.014102        2  0.183212
876       3    0  0.019218        0  0.246042
877       3    0  0.015412        0  0.233476
878       3    0  0.015412        0  0.346569
879       1    1  0.162314        2  0.698417
880       2    1  0.050749        0  0.308872
881       3    0  0.015412        0  0.409399
882       3    1  0.020527        0  0.271174
883       2    0  0.020495        0  0.346569
884       3    0  0.013761        0  0.308872
885       3    1  0.056848        1  0.484795
886       2    0  0.025374        0  0.334004
887       1    1  0.058556        0  0.233476
888       3    1  0.045771        0  0.346569
889       1    0  0.058556        2  0.321438
890       3    0  0.015127        1  0.396833

[891 rows x 5 columns]

In [13]:
clf = SVC()
	clf.fit(dataTrain[predictors], dataTrain['Survived'])

IndentationError: unexpected indent (<ipython-input-13-33a1541d122a>, line 2)

In [14]:
clf = SVC()
clf.fit(dataTrain[predictors], dataTrain['Survived'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [15]:
datatrain['Survived']

NameError: name 'datatrain' is not defined

In [17]:
dataTrain['Survived']

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [18]:
clf.fit(dataTrain[predictors], dataTrain['Survived'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [19]:
dataTrain[predictors]

     Pclass  Sex      Fare Embarked       Age
0         3    0  0.014151        0  0.271174
1         1    1  0.139136        2  0.472229
2         3    1  0.015469        0  0.321438
3         1    1  0.103644        0  0.434531
4         3    0  0.015713        0  0.434531
5         3    0  0.016510        1  0.346569
6         1    0  0.101229        0  0.673285
7         3    0  0.041136        0  0.019854
8         3    1  0.021731        0  0.334004
9         2    1  0.058694        2  0.170646
10        3    1  0.032596        0  0.044986
11        1    1  0.051822        0  0.723549
12        3    0  0.015713        0  0.246042
13        3    0  0.061045        0  0.484795
14        3    1  0.015330        0  0.170646
15        2    1  0.031230        0  0.685851
16        3    0  0.056848        1  0.019854
17        2    0  0.025374        0  0.346569
18        3    1  0.035134        0  0.384267
19        3    1  0.014102        2  0.346569
20        2    0  0.050749        0  0.434531
21        2    0  0.025374        0  0.421965
22        3    1  0.015672        1  0.183212
23        1    0  0.069291        0  0.346569
24        3    1  0.041136        0  0.095250
25        3    1  0.061264        0  0.472229
26        3    0  0.014102        2  0.346569
27        1    0  0.513342        0  0.233476
28        3    1  0.015379        1  0.346569
29        3    0  0.015412        0  0.346569
..      ...  ...       ...      ...       ...
861       2    0  0.022447        0  0.258608
862       1    1  0.050610        0  0.597889
863       3    1  0.135753        0  0.346569
864       2    0  0.025374        0  0.296306
865       2    1  0.025374        0  0.522493
866       2    1  0.027050        2  0.334004
867       1    0  0.098561        0  0.384267
868       3    0  0.018543        0  0.346569
869       3    0  0.021731        0  0.044986
870       3    0  0.015412        0  0.321438
871       1    1  0.102579        0  0.585323
872       1    0  0.009759        0  0.409399
873       3    0  0.017567        0  0.585323
874       2    1  0.046845        2  0.346569
875       3    1  0.014102        2  0.183212
876       3    0  0.019218        0  0.246042
877       3    0  0.015412        0  0.233476
878       3    0  0.015412        0  0.346569
879       1    1  0.162314        2  0.698417
880       2    1  0.050749        0  0.308872
881       3    0  0.015412        0  0.409399
882       3    1  0.020527        0  0.271174
883       2    0  0.020495        0  0.346569
884       3    0  0.013761        0  0.308872
885       3    1  0.056848        1  0.484795
886       2    0  0.025374        0  0.334004
887       1    1  0.058556        0  0.233476
888       3    1  0.045771        0  0.346569
889       1    0  0.058556        2  0.321438
890       3    0  0.015127        1  0.396833

[891 rows x 5 columns]

In [20]:
print(dataTrain[predictors])

     Pclass  Sex      Fare Embarked       Age
0         3    0  0.014151        0  0.271174
1         1    1  0.139136        2  0.472229
2         3    1  0.015469        0  0.321438
3         1    1  0.103644        0  0.434531
4         3    0  0.015713        0  0.434531
5         3    0  0.016510        1  0.346569
6         1    0  0.101229        0  0.673285
7         3    0  0.041136        0  0.019854
8         3    1  0.021731        0  0.334004
9         2    1  0.058694        2  0.170646
10        3    1  0.032596        0  0.044986
11        1    1  0.051822        0  0.723549
12        3    0  0.015713        0  0.246042
13        3    0  0.061045        0  0.484795
14        3    1  0.015330        0  0.170646
15        2    1  0.031230        0  0.685851
16        3    0  0.056848        1  0.019854
17        2    0  0.025374        0  0.346569
18        3    1  0.035134        0  0.384267
19        3    1  0.014102        2  0.346569
20        2    0  0.050749        0  0.434531
21        2    0  0.025374        0  0.421965
22        3    1  0.015672        1  0.183212
23        1    0  0.069291        0  0.346569
24        3    1  0.041136        0  0.095250
25        3    1  0.061264        0  0.472229
26        3    0  0.014102        2  0.346569
27        1    0  0.513342        0  0.233476
28        3    1  0.015379        1  0.346569
29        3    0  0.015412        0  0.346569
..      ...  ...       ...      ...       ...
861       2    0  0.022447        0  0.258608
862       1    1  0.050610        0  0.597889
863       3    1  0.135753        0  0.346569
864       2    0  0.025374        0  0.296306
865       2    1  0.025374        0  0.522493
866       2    1  0.027050        2  0.334004
867       1    0  0.098561        0  0.384267
868       3    0  0.018543        0  0.346569
869       3    0  0.021731        0  0.044986
870       3    0  0.015412        0  0.321438
871       1    1  0.102579        0  0.585323
872       1    0  0.009759        0  0.409399
873       3    0  0.017567        0  0.585323
874       2    1  0.046845        2  0.346569
875       3    1  0.014102        2  0.183212
876       3    0  0.019218        0  0.246042
877       3    0  0.015412        0  0.233476
878       3    0  0.015412        0  0.346569
879       1    1  0.162314        2  0.698417
880       2    1  0.050749        0  0.308872
881       3    0  0.015412        0  0.409399
882       3    1  0.020527        0  0.271174
883       2    0  0.020495        0  0.346569
884       3    0  0.013761        0  0.308872
885       3    1  0.056848        1  0.484795
886       2    0  0.025374        0  0.334004
887       1    1  0.058556        0  0.233476
888       3    1  0.045771        0  0.346569
889       1    0  0.058556        2  0.321438
890       3    0  0.015127        1  0.396833

[891 rows x 5 columns]

In [24]:
np.sum(dataTrain[predictors] == np.NaN)

Pclass      0
Sex         0
Fare        0
Embarked    0
Age         0
dtype: int64

In [25]:
clf = SVC()

In [28]:
print(dataTrain[predictors])

     Pclass  Sex      Fare Embarked       Age
0         3    0  0.014151        0  0.271174
1         1    1  0.139136        2  0.472229
2         3    1  0.015469        0  0.321438
3         1    1  0.103644        0  0.434531
4         3    0  0.015713        0  0.434531
5         3    0  0.016510        1  0.346569
6         1    0  0.101229        0  0.673285
7         3    0  0.041136        0  0.019854
8         3    1  0.021731        0  0.334004
9         2    1  0.058694        2  0.170646
10        3    1  0.032596        0  0.044986
11        1    1  0.051822        0  0.723549
12        3    0  0.015713        0  0.246042
13        3    0  0.061045        0  0.484795
14        3    1  0.015330        0  0.170646
15        2    1  0.031230        0  0.685851
16        3    0  0.056848        1  0.019854
17        2    0  0.025374        0  0.346569
18        3    1  0.035134        0  0.384267
19        3    1  0.014102        2  0.346569
20        2    0  0.050749        0  0.434531
21        2    0  0.025374        0  0.421965
22        3    1  0.015672        1  0.183212
23        1    0  0.069291        0  0.346569
24        3    1  0.041136        0  0.095250
25        3    1  0.061264        0  0.472229
26        3    0  0.014102        2  0.346569
27        1    0  0.513342        0  0.233476
28        3    1  0.015379        1  0.346569
29        3    0  0.015412        0  0.346569
..      ...  ...       ...      ...       ...
861       2    0  0.022447        0  0.258608
862       1    1  0.050610        0  0.597889
863       3    1  0.135753        0  0.346569
864       2    0  0.025374        0  0.296306
865       2    1  0.025374        0  0.522493
866       2    1  0.027050        2  0.334004
867       1    0  0.098561        0  0.384267
868       3    0  0.018543        0  0.346569
869       3    0  0.021731        0  0.044986
870       3    0  0.015412        0  0.321438
871       1    1  0.102579        0  0.585323
872       1    0  0.009759        0  0.409399
873       3    0  0.017567        0  0.585323
874       2    1  0.046845        2  0.346569
875       3    1  0.014102        2  0.183212
876       3    0  0.019218        0  0.246042
877       3    0  0.015412        0  0.233476
878       3    0  0.015412        0  0.346569
879       1    1  0.162314        2  0.698417
880       2    1  0.050749        0  0.308872
881       3    0  0.015412        0  0.409399
882       3    1  0.020527        0  0.271174
883       2    0  0.020495        0  0.346569
884       3    0  0.013761        0  0.308872
885       3    1  0.056848        1  0.484795
886       2    0  0.025374        0  0.334004
887       1    1  0.058556        0  0.233476
888       3    1  0.045771        0  0.346569
889       1    0  0.058556        2  0.321438
890       3    0  0.015127        1  0.396833

[891 rows x 5 columns]

In [29]:
linreg = LinerRegression()
	linreg.fit(dataTrain[predictors], dataTrain['Survived'])

IndentationError: unexpected indent (<ipython-input-29-e0d248bf0f44>, line 2)

In [30]:
linreg = LinerRegression()
linreg.fit(dataTrain[predictors], dataTrain['Survived'])

NameError: name 'LinerRegression' is not defined

In [31]:
from sklearn.linear_model import LinearRegression

In [38]:
linreg = LinearRegression()
linreg.fit(dataTrain[predictors], dataTrain['Survived'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [33]:
dataTrain[predictors]

     Pclass  Sex      Fare Embarked       Age
0         3    0  0.014151        0  0.271174
1         1    1  0.139136        2  0.472229
2         3    1  0.015469        0  0.321438
3         1    1  0.103644        0  0.434531
4         3    0  0.015713        0  0.434531
5         3    0  0.016510        1  0.346569
6         1    0  0.101229        0  0.673285
7         3    0  0.041136        0  0.019854
8         3    1  0.021731        0  0.334004
9         2    1  0.058694        2  0.170646
10        3    1  0.032596        0  0.044986
11        1    1  0.051822        0  0.723549
12        3    0  0.015713        0  0.246042
13        3    0  0.061045        0  0.484795
14        3    1  0.015330        0  0.170646
15        2    1  0.031230        0  0.685851
16        3    0  0.056848        1  0.019854
17        2    0  0.025374        0  0.346569
18        3    1  0.035134        0  0.384267
19        3    1  0.014102        2  0.346569
20        2    0  0.050749        0  0.434531
21        2    0  0.025374        0  0.421965
22        3    1  0.015672        1  0.183212
23        1    0  0.069291        0  0.346569
24        3    1  0.041136        0  0.095250
25        3    1  0.061264        0  0.472229
26        3    0  0.014102        2  0.346569
27        1    0  0.513342        0  0.233476
28        3    1  0.015379        1  0.346569
29        3    0  0.015412        0  0.346569
..      ...  ...       ...      ...       ...
861       2    0  0.022447        0  0.258608
862       1    1  0.050610        0  0.597889
863       3    1  0.135753        0  0.346569
864       2    0  0.025374        0  0.296306
865       2    1  0.025374        0  0.522493
866       2    1  0.027050        2  0.334004
867       1    0  0.098561        0  0.384267
868       3    0  0.018543        0  0.346569
869       3    0  0.021731        0  0.044986
870       3    0  0.015412        0  0.321438
871       1    1  0.102579        0  0.585323
872       1    0  0.009759        0  0.409399
873       3    0  0.017567        0  0.585323
874       2    1  0.046845        2  0.346569
875       3    1  0.014102        2  0.183212
876       3    0  0.019218        0  0.246042
877       3    0  0.015412        0  0.233476
878       3    0  0.015412        0  0.346569
879       1    1  0.162314        2  0.698417
880       2    1  0.050749        0  0.308872
881       3    0  0.015412        0  0.409399
882       3    1  0.020527        0  0.271174
883       2    0  0.020495        0  0.346569
884       3    0  0.013761        0  0.308872
885       3    1  0.056848        1  0.484795
886       2    0  0.025374        0  0.334004
887       1    1  0.058556        0  0.233476
888       3    1  0.045771        0  0.346569
889       1    0  0.058556        2  0.321438
890       3    0  0.015127        1  0.396833

[891 rows x 5 columns]

In [34]:
dataTrain['Survived']

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [37]:
dataTrain[predictors].to_csv('~/Desktop/out.csv',index=False,header=False)